/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
div#container {
  margin: 0 auto;
  /*max-width: 1080px;*/
}

header {
  display: flex;
  background-color: lavenderblush;
  padding: 0 15px;
  border-bottom: outset;
  border-bottom-color: wheat;
}

a#logo {
  flex: 1;
}

#logo img {
  width: fit-content;
  max-width: 60px;
  padding: 10px 0;
}

#drawer_toggle {
  display: none;
  width: 40px;
  height: 100%;
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*-ms-flex-flow: column;*/
  flex-flow: column;
  /*-ms-flex-pack: distribute;*/
  justify-content: space-around;
  /*-ms-flex-align: center;*/
  align-items: center;
  padding: 10px 0;
  /*-webkit-box-sizing: border-box;*/
  box-sizing: border-box;
  cursor: pointer;
}

#drawer_toggle div {
  width: 90%;
  height: 3px;
  background-color: black;
}

nav {
  color: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-menu {
  display: flex;
  font-size: 25px;
  margin-top: 0;
  padding-right: 20px;
}

.menu-item {
  margin-left: 45px;
}

li.menu-item a {
  text-decoration: none;
}

.sidebar {
  display: none;
  position: fixed;
  width: 215px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #fff;
  padding: 32px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;

}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 20px;
}

.sidebar li {
  margin: 20px;
}

.sidebar li a {
  text-decoration: none;
}

#main{
  background-color: indianred;
}

#main h1 {
  text-align: center;
  margin: 0 auto 20px auto;
  color: midnightblue;
  border: solid 1px black;
  max-width: fit-content;
  background-color: lavenderblush;
  padding: 10px;
}

div#home-photo-container {
  max-width: 90%;
  margin: 0 auto;
  /* display: initial; */
  text-align: center;
}

#home-photo-container img {
  max-width: inherit;
  border: groove 1em lavenderblush;
  border-radius: 2em;
  background-color: #ccc;
  /* width: 100%; */
  /* display: inherit; */
  margin: 0 auto;
}

#about-us {
  margin-top: 50px;
  /*background-color: steelblue;*/
  background-color: lavenderblush;
}

#about-us ul {
  display: flex;
  padding: 0 10px;
}

#about-us li {
  flex: 1;
  padding: 0 15px;
}

#about-us h2,
.icon-container {
  text-align: center;
  color: indianred;
}

#about-us p {
  color: midnightblue;
  margin: 45px 5px;
  width: fit-content;
  font-size: 17px;
}

.icon {
  color:steelblue;
}

#events-container {
  /*display: inline-flex;*/
  max-width: 90%;
  padding: 10px;
  margin: 0 auto;
}


#donate-section div {
  height: 740px;
}

.fundraiser_slider_2.slider_container {
  /*display: inline;*/
}

.slider_container {
  max-width: 100%;
  /*display: inline-block;*/
  text-align: center;
  margin: 15px auto;
  padding: 10px;
  width: 850px;
  height: 673px;
  background-color: lavenderblush;
  border-radius: 15px;
}

.slider_container img {
  max-width: 85%;
  margin: 0 auto;

  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-height: 80%;
}

.slider-header {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8em;
  letter-spacing: 0.08em;
  font-weight: 300;
  color: #163965;
  text-shadow: 0 1px 1px #4a81c2;
  text-transform: uppercase;
}

.divider-2 {
  border-bottom: 1px solid #FFF;
  background-color: #DADADA;
  height: 1px;
  margin: 0.5em 0px 1.5em;
}

.divider-2 span {
  display: block;
  width: 50px;
  height: 1px;
  background-color: #1589FF;
}

#footer-container {
  padding: 20px;
  background-color: #3a3a3a;
  color: whitesmoke;
  text-align: center;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media (max-width: 614px) {
  #logo img {
    max-width: 50px;
  }
  #nav-menu { display: none }
  header {
    /*height: 55px;*/
    height: 66px;
    width: 100%;
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    /* background-color: #703B09; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    /* z-index: 90; */
  }
  #drawer_toggle {
    display: flex;
  }
  #main h1 {
    margin-top: 25px;
  }
  #main section{
    padding-top: 35px;
  }
  #donate-section div {
    height: 800px;
  }
  #donate-section h1 {
    margin-top: 45px;
  }

}

@media (max-width: 800px) {
  /* Style adjustments for viewports that meet the condition */
  #about-us ul {
    display: block;
    padding: 0 10px;
  }

  #about-us li:nth-child(1) {
    padding: 20px 15px;
  }
}

@media (max-width: 998px) {
  .slider_container {
    width: 90%;
    height: auto;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
